html{
	box-sizing: border-box;
	border: thin;
	border-style: solid;
}
*, *:before, *:after {
	box-sizing: inherit;
	border: thin;
	border-style: solid;
}
body{
	border-style: solid;
	line-height: 1;
	background: linear-gradient(to top, #ccffff 0%, #00ccff 100%);

	
}
img{
	max-width: 100%;
	max-height: 100%;
}

.navbar {
	font-family: Open Sans SemiBold, sans-serif;
  background-color: cadetblue;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #33ccff;
  color: white;
}


.icons-container{
  top:318px;
  width:270px;
  margin:0px;
  padding:0px;
  right:-185px;
  position:fixed;
}

.icons li{
  color:black;
  height:49px;
  padding:0px;
  text-align: left;
  list-style-type:none;
  margin:0px 0px 1px 0px;
  background-color:#1F75FE; 
}

.icons li:hover{
  margin-left:-190px;
}

.icons li img{
  float:left;
  margin: 5px 4px;
  margin-right:5px;
}

.icons li p{
  margin:0px;
  padding-top:5px;
  font-size:15px;
  line-height:16px;

}

.pages{
	font-family: Open Sans SemiBold, sans-serif;
	font-size: 20px;
	color: #555555;
	background: whitesmoke;
	max-width: 90%;
	margin: 30px auto;
}


.tysca{
	align-content: center;
	text-align: center;
	padding: 5px;
	box-sizing: border-box;
	border: thin;
	border-style: solid;
	margin-top: 50px;
	margin-right: 100px;
	margin-left: 100px;
	background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));
	
}


.LE{
	align-content: right;
	text-align: right;
	padding: 15px;
	
}

.topic{
	font-size: 17px;
	padding: 5px;
}
.titleLE{
	padding: 5px;
}
.lists{
	font-size: 18px;
	padding: 5px;
	text-emphasis-color: purple;
}
.listi{
	font-size: 17px;
	padding: 5px;
}

.titlehead{
  text-align: center;
  background: linear-gradient(to top, #0099cc 0%, #bcfeff 100%);
  font-family: Open Sans SemiBold, sans-serif;
	font-size: 50px;
	color: #555555;
	text-shadow: 2px 2px 7px yellow;
}

.maincontent{
	font-family: Open Sans SemiBold, sans-serif;
	font-size: 15px;
	color: #555555;
	background: white;
	max-width: 55%;
	margin: 50px auto;
	box box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	padding: 20px;
}

.PContact{


}
.contact_1{
	padding-left: 240px;
}

.profile{
	width: 200px;
	height: 140px;
	align-content: right;
	padding right: 10px;
}

.address{
	color: black;
	font-size: 20px;
	text-align: right;
	padding-top: 2px;
}

.name{
	color: black;
	font-size: 28px;
	text-align: right;
	padding-bottom: 10px;
}

.contact{
	font-size: 20px;
	text-align: right;
	padding-bottom: 2px;
}

.Education{
	color: black;
	font-size: 24px;
}

.education-work{
	text-align: left;
	padding: 3px;
	text-transform: uppercase;
	text-decoration: underline;
}
.date{
	padding: 2px;
}
.info{
	text-align: left;
	padding: 3px;
}

.collapse{
	border: 1px solid black;
	padding: 3px;
	background-color: linear-gradient(to bottom, #66ffff 0%, #0099cc 100%);

	position: relative;
  display: box;
  display: flex;
  display: flexbox;
  display: flex;

  box-orient: vertical;
  box-direction: normal;
 	flex-direction: column;
  flex-direction: column;
  flex-direction: column;

  width: 100%;
  padding: 16px 48px 16px 16px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
  background: linear-gradient(to bottom, #66ffff 0%, #0099cc 100%);
}
.collapse a:hover,
.collapse a:hover::after {
  cursor: pointer;
  color: #ff5353;
}
.collapse a:hover::after {
  border: 1px solid #ff5353;
}
.collapse a.active {
  color: #ff5353;
  border-bottom: 1px solid #ff5353;
}
.collapse a::after {
 content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.collapse a.active::after {
  content: "\2796";
}
.collapse .col {
  opacity: 0;
  padding: 0 16px;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}
.collapse .col li {
  font-size: 16px;
  font-weight: 300;
}
.collapse .col.active {
  opacity: 1;
  padding: 16px;
  max-height: 100%;
  transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}



.listedcont{
	padding: 5px;
}


.ComputerSkills{
	color: black;
	font-size: 24px;

}

.tools{
	color: black;
	font-size: 16px;
	text-decoration: underline;
}

.Experience{
	color: black;
	font-size: 24px;
}

.job-title{
	color: black;
	padding: 5px;
	text-decoration: underline;

}
.where{
	padding: 5px;
}

.Activities{
	color: black;
	font-size: 24px;
}

.References{
	color: black;
	font-size: 24px;
}

.Extras{
	color: black;
	font-size: 24px;
}

table, tr, th {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 40px;
	padding-left: 30px;
}
tr:last-child{
	border-top: none;
}
table{
	border-collapse: collapse;
}
tr{
	border: solid;
	border-width: 1px 0;
}

footer{
	align-content: center;
	text-align: center;
}